<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Estimation.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <Estimation.Properties.Settings>
            <setting name="DollarPurchase" serializeAs="String">
                <value>63</value>
            </setting>
            <setting name="DollarSale" serializeAs="String">
                <value>66.5</value>
            </setting>
            <setting name="EuroPurchase" serializeAs="String">
                <value>68</value>
            </setting>
            <setting name="EuroSale" serializeAs="String">
                <value>72</value>
            </setting>
            <setting name="HryvnaPurchase" serializeAs="String">
                <value>2.4</value>
            </setting>
            <setting name="HryvnaSale" serializeAs="String">
                <value>2.63</value>
            </setting>
        </Estimation.Properties.Settings>
    </userSettings>
</configuration>